extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Nam quis cursus nisi. Ut id lobortis risus, nec tempor urna. Aenean fringilla luctus tellus, eu aliquam odio ultrices vel. Mauris porttitor finibus lacinia. Vestibulum nec tellus sit amet lectus fermentum tristique vel tristique massa. Aenean sed finibus augue. 
                p Vivamus vel consectetur velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque vestibulum elementum est quis rhoncus. Integer congue diam at nunc consectetur tristique ut aliquam libero. Sed tincidunt nulla urna, bibendum vestibulum eros egestas iaculis.
                p Donec nec neque sed nulla ornare efficitur. Nam vel mauris laoreet, finibus orci in, egestas nulla. Suspendisse fringilla lorem sapien, sed pellentesque nisl semper vel. Duis vitae leo eget augue tempor convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu metus efficitur, aliquet mi lobortis, gravida sem.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Integer vel finibus neque, vel finibus elit. Maecenas sed egestas ligula. Aliquam congue tempus lectus, a sollicitudin magna consequat at. Maecenas fringilla semper ante ac auctor.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Aenean eget eros turpis. Fusce mauris leo, lobortis eget vulputate vel, gravida sed lorem. Nam elementum dignissim est sit amet viverra. Sed ornare justo leo, nec mattis nisl vulputate a.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Aenean quam ligula, interdum ut mi ut, molestie porta urna. Integer imperdiet accumsan ipsum sed pulvinar. Vivamus elit erat, venenatis sit amet lectus sit amet, pellentesque varius neque.